In [3]:
import pandas as pd
from base_data import BaseData
from tools import ToolBox

In [4]:
df_customers = BaseData().customers
df_alignments = BaseData().alignments
df_sales = BaseData().sales
tools = ToolBox(locals={"df_customers": df_customers, "df_sales": df_sales, "df_alignments": df_alignments, "pd": pd})

customers = df_alignments[(df_alignments['SalesForce_ID'] == '100') & (df_alignments['Territory_ID'].str.contains('99') == False)].NARC.unique()
sample = df_sales[(df_sales['NARC'].isin(customers)) & (df_sales['YearMonth'] >= 202203) & (df_sales['YearMonth'] <= 202302) & (df_sales['ProdID'] == 'Prod1')]
sample

   NARC  YearMonth ProdID ItemID  Units  Sales
6     9     202209  Prod1  Item4      2      7
8     5     202203  Prod1  Item2     10      4
20   10     202210  Prod1  Item2      1     10
26    3     202209  Prod1  Item8      9      9
34    8     202205  Prod1  Item9      2      7
38    2     202212  Prod1  Item6      7     10

In [5]:
sample.groupby(['NARC', 'YearMonth']).agg({'Sales': 'sum'}).reset_index()

  NARC  YearMonth  Sales
0   10     202210     10
1    2     202212     10
2    3     202209      9
3    5     202203      4
4    8     202205      7
5    9     202209      7

In [6]:
df_sales[(df_sales['NARC'] == '5') & (df_sales['YearMonth'] >= 202204) & (df_sales['YearMonth'] <= 202303)]

   NARC  YearMonth ProdID ItemID  Units  Sales
24    5     202302  Prod2  Item5      5      5
33    5     202211  Prod5  Item8      3      6

In [7]:
customers = df_alignments[(df_alignments['SalesForce_ID'] == '100') & (df_alignments['Territory_ID'].str.contains('99') == False)].NARC.unique()
customers

array(['1', '2', '3', '4', '5', '6', '7', '8', '9', '10'], dtype=object)

In [8]:
df_result_WIP = df_sales[(df_sales['NARC'].isin(customers)) & (df_sales['YearMonth'] >= 202204) & (df_sales['YearMonth'] <= 202303) & (df_sales['ItemID'] == 'item1')]
df_result_WIP

Empty DataFrame
Columns: [NARC, YearMonth, ProdID, ItemID, Units, Sales]
Index: []